* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'VT323', monospace;
  color: #39ff14;
  background-color: black;
  width: 100%;
}

header {
  text-align: center;
  padding: 2em;
  font-size: 1.5rem;
}

 main {
 display: flex;
 justify-content: center;
 font-size: 1.75rem;
 flex-direction: column;
 align-items: center;
 margin: auto;
 width: 40vw;
 border-left: 2px dashed #39ff14;
 border-right: 2px dashed #39ff14;
 padding: 0 2em;
}

.textDisplay {
  display: flex;
  flex-direction: column;
  margin: 0 auto 50vh;
  width: 400px;

} 

input {
  font-family: 'VT323', monospace;
  color: #39ff14;
  background-color: black;
  font-size: 1.75rem;
  padding: .25em;
  width: 300px;
  text-align: center;
  border: none;
  outline: none;
}

.buffer {
  height: 25vh;
}
